.blogContainer{
	box-sizing: border-box; 
	height: 100%;
	padding: 5% 8%;
}
.newPost{
	display: flex;
	height: 100px;
}
.newPost input{
	width: 30%;
	height: 100%;
	resize: none;
	font-size: 30px;
	padding: 15px;
	box-sizing: border-box; 
}
.newPost textarea{
	flex: 5;
	height: 100%;
	resize: none;
	font-size: 20px;
	padding: 15px;
	box-sizing: border-box; 
}
.newPost button{
	flex: 1;
	height: 100%;
	margin: 0;
}
.posts{
	display: grid;
	grid-template-columns: auto auto auto;
	margin-top: 50px;
}
.post{
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #cccccc;
	margin: 10px;
	background-color: #fafafa;
	padding: 10px;
	min-height: 50px;
	text-align: left;
}